:root{
    --primary-color: #DE5B15;
    --secondary-color: #5C5C5C;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p, h1{
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #DE5B15; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
}

::selection {
    background-color: #DE5B15; 
    color: white; 
}

.highlight{
    color: var(--primary-color);
}

.hero{
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;


}
.hero::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Position it absolutely to cover the hero section */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #002e5b75; /* Blue tint with 50% opacity */
    z-index: 1; /* Put the overlay above the background but below the content */
  }


.hero-s1{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

.hero-h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.hero-p1{
    color: white;
    font-size: 20px;
}

.hero-button {
    background-color: white;
    border: none;
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* Vertically center the text */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

/* Hover state for the animation */
.hero-button:hover {
    transform: translateY(-4px); /* Slightly move the button upwards */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Drop shadow */
}



    .section-4{
        margin: 100px auto 50px auto;
        width: 90vw;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    
    }
    
    .s4-c2{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .s4-c2-block{
        height: 650px;
        width: 45%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
    
    }
    
    .s4-block-inner1{
        height: 70%;
    }
    
    .s4-block-inner2{
        height: auto;
        width: 100%;
        background: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
        
    }
    
    .s4-block-inner2 > p{
        color: var(--secondary-color);
        display: flex;
        gap: 20px;
    }
    
    .inner-icons{
        color: var(--primary-color);
    }
    
    
    
    #inner-p1{
        font-size: 24px;
        color: var(--primary-color);
            font-weight: bold;
    }
    
    .branch-frame{
        height: 100%;
        width: 100%;
        border: none;
    }

.section-5{
    width: 100vw;
    height: 500px;
    background-color: #f1f1f1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 150px ;
    margin-bottom: 50px;
}

.s5-c1{
    width: 60%;
}

.s5-c1-h1{
    font-weight: 700;
}

.s5-hr{
    width: 60%;
}

.s5-c1-p1{
    color: var(--secondary-color);
}

.s5-c1-h3{
    font-size: 20px;
    font-weight: 700;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
}

.s5-inputs{
    height: 50px;
    width: 250px;
    padding: 0 20px;
    border: none;
    color: var(--secondary-color);

    border: none;              /* Remove default border */
    outline: none;             /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth transition for border color */

}

.s5-inputs:focus {
    border-bottom: 2px solid #DE5B15; /* Orange border on focus */
  }

.s5-button{
    height: 50px;
    width: 250px;
    padding: 0 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

/* Hover state for the animation */
.s5-button:hover {
    transform: translateY(-4px); /* Slightly move the button upwards */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Drop shadow */
    color: white; /* Keep the text color the same when hovered */

}

.highlight{
    color: var(--primary-color);
}




@media screen and (max-width: 900px) {
    .hero{
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 100px;
    }

    .hero-s1{
        width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

   

    .section-5{
        flex-direction: column;
        height: fit-content;
        width: 100vw;
        padding: 20px 0;
        align-items: center;
        margin: 50px auto;
        
    }

    .s5-c1{
        width: 90%;
    }

    .inputs{
        width: 90%;
        gap: 20px;
        height: auto;
        flex-direction: column;
    }

    .s5-inputs{
        width: 100%;
        margin-bottom: 20px;
    }

    .s5-button{
        height: 50px;
        width: 250px;
        padding: 0 20px;
        border: none;
        background-color: var(--primary-color);
        color: white;
        transition: all 0.3s ease; /* Smooth transition for all properties */
    }
    
    /* Hover state for the animation */
    .s5-button:hover {
        transform: translateY(-4px); /* Slightly move the button upwards */
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Drop shadow */
        color: white; /* Keep the text color the same when hovered */
    
    }

    .s5-c1-h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
    }
    
    .section-4{
        width: 90vw;
        height: auto;
        margin: 50px auto;
        
    }

    .s4-c2{
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 20px;
    }

    .s4-c2-block{
        width: 100%;
    }
}









